#header-section {
    overflow: hidden;
    background-color: rgb(41, 143, 245);
    width: 100vw;
}

header {
    margin-left: 3px;
    margin-right: 10px;
    color: yellow;
}
header h1 {
    border: 2px solid white;
    border-radius: 25px;
    text-align: center;
}

#header-section img {
    width: 80%;
    height: 150px;
    margin-left: 9%;
}

#game-section{
    border: red 1px solid;
}

.gamebtn {
    margin-top: 8px;
    margin-bottom: 4px;
    margin-left: 15%;
    border-radius: 25%;
    width: 65%;
    height: 40px;
    font-size: 22px;
}

#rock-btn {
    background-color: #e65160;
}

#paper-btn {
    background-color: rgb(245, 245, 104);
}

#scissors-btn {
    background-color: pink;
}

#lizard-btn {
    background-color: rgb(117, 224, 117);
}

#spock-btn {
    background-color: rgb(85, 161, 236);
}

#results-section {
    background-color: rgb(42, 42, 240);
    height: 150px;
}

.modal {
    background-color:rgb(41, 143, 245);
    font-size: 20px;
    position: fixed;
    z-index: 1;
    width: 85vw;
    height: 90vh;
    left: 7%;
    overflow: auto;
}

.modal-content p {
    margin-left: 1rem;
    width: 150px;
}

.modal span {
    color: red;
}

.modal span:hover {
    color: black;
}

.closeBtn {
    margin: 3px 1.2rem;
    width: 130px;
    height: 75px;
    border: 2px double black;
    color: blue;
    background-color: rgb(255, 255, 255);
    font-size: 28px;
    transition: background-color 2s, color 1s;
}

.closeBtn:hover {
    background-color: rgb(212, 56, 56);
    color: black;
}


